<div class="container-fluid">

<div class="carousel slide barCharts" data-ride="carousel" id="carousel-example-generic">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class=""></div>
      <div style="height: 333px" id="tareasRealizadas"></div>
    </div>
  </div>
</div>

<div class="carousel slide barCharts" data-ride="carousel" id="carousel-example-generic">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class=""></div>
      <div style="height: 333px" id="tareasTermino"></div>
    </div>
  </div>
</div>

<div class="carousel slide barCharts" data-ride="carousel" id="carousel-example-generic">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class=""></div>
      <div style="height: 333px" id="reclamosXhora"></div>
    </div>
  </div>
</div>
  <div class="carousel slide barCharts" data-ride="carousel" id="carousel-example-generic">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class=""></div>
        <div style="height: 333px" id="horasTrabajadasXdia"></div>
      </div>
    </div>
  </div>

  <div class="pieChartsDiv">
    <h1 style="margin-left: 40%">
      <small>Promedios generales</small>
    </h1>

    <div class="pieCharts" id="pieTareasRealizadas"></div>
    <div class="tiempo-por-reclamo"><h1>{{estadisticasOperarioController.promedioTiempoPorTarea.labels}}</h1></div>
    <div class="pieCharts" id="pieTareasTermino"></div>
    
  </div>
</div>
