
<!--  <div class="input-group" style="z-index: 100000000; position: fixed;
width: 200px; margin-left: 60%; margin-right 30%;">
      <input type="text" class="form-control" ng-model="claim"
placeholder="centrar en reclamo...">
      <span class="input-group-btn">
        <button class="btn btn-default"
ng-click="mapSeguimientoEmpleadoCtrl.findClaim(claim)"
type="button">Ir!</button>
      </span>
    </div> -->
<div style="height: 100%; width: 100%; margin:0; padding: 0; position:
fixed !important; min-height: 874px;" id='mapChild'>
</div>
